<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container" id="app">
    <div class="card mb-2">
      <div class="card-title">
        {{total}}
      </div>
      <h2>Current Meal</h2>
      <ol>
        <li v-for="food in current_meal">
          {{food.name}}<br>
          p: {{food.p}}
          c: {{food.c}}
          g: {{food.f}}
          <a @click="removeItem(food)" href="#">remover</a>

        </li>
      </ol>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary" @click="clearMeal">Clear meal</button>

        </div>
        <div class="col-6">
          <button class="btn btn-secondary" @click="finishMeal">Finish meal</button>

        </div>
      </div>

    </div>

    <div class="card mb-2">
      <div class="card-title">
        {{total}}
      </div>
      <h2>Meals</h2>
      <ol v-for="meal in meals">
        <li v-for="food in meal">
          {{food.name}}<br>
          p: {{food.p}}
          c: {{food.c}}
          g: {{food.f}}

        </li>
      </ol>

    </div>



<h2>food list</h2>
    <ul class="list-group mb-2">
      <li class="list-group-item" v-for="food in foods">
        <a @click="addItem(food)" class="list-group" href="#">
          <h5>
          {{food.name}}
          </h5>
          <small>
            p: {{food.p}}
            c: {{food.c}}
            g: {{food.f}}
          </small>
        </a>

      </li>
    </ul>
  </div>
  <script type="module" src="index.js"></script>
</body>

</html>
